html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color:  #6f22ff;
  color: #6f22ff;
}

.outerBox {
  padding: 20px;
 
}

.innerBox {
  background: #ffffff;
  box-shadow: 1px 0px 6px 2px #a5a5a5;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px auto;
  width: 90%;
  padding: 20px;
}

.timeRemaining {
  font-size: 2rem;
  margin-top: -20px;
}

.e-banner {
  width: 100%;
  height:40%;
}

.button {
  appearance: button;
    background-color: #4D4AE8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #4D4AE8;
    border-radius: 1rem;
    box-shadow: rgb(255 255 255 / 15%) 0 1px 0 inset, rgb(46 54 80 / 8%) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}